streamlit
streamlit_oauth
streamlit-cookies-controller

openai

langchain
langchain_openai
langchain_pinecone
langchain_experimental
langchainhub

pinecone
pinecone-client
pinecone-plugin-assistant

PyMuPDF
PyYAML

pandas
pandas-datareader

numpy
numexpr
matplotlib
tqdm
ipywidgets
ipykernel