streamlit
streamlit_oauth
streamlit-cookies-controller
streamlit-aggrid

openai

langchain
langchain_openai
langchain_pinecone
langchain_experimental
langchainhub

pinecone
pinecone-client
pinecone-plugin-assistant

PyMuPDF
PyYAML

pandas
pandas-datareader